{% extends 'base.html' %}

{% block content %}


<h3 class="text-success font-bold display-6 text-center">Профиль</h3>

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="mt-xl-4">
        {{ form.as_table }}
    </table>
    <button type="submit" class="mt-3 hover:bg-yellow-300 hover:text-black btn btn-success">Сохранить</button>
</form>
<hr>
<button class="mt-xl-4 mb-3"><a class="hover:bg-yellow-300 hover:text-black btn btn-success"
                                href="{% url 'userapp:password_change' %}">Сменить пароль</a></button>


{% endblock %}