{% extends 'base.html' %}

{% block title %} {{ name }} {% endblock %}

{% block content %}


<h3 class="text-success font-bold display-6 text-center mb-xl-4">{{ name }}</h3>
<button class="mb-3"><a class="hover:bg-yellow-300 hover:text-black btn btn-success" href="{% url 'add_ingredients' %}">Добавить новый ингредиент</a></button>

<p class="text-center mb-xxl-4 lead">
    При выборе ингредиента отразятся рецепты с ним
</p>
<div class="row row-cols-1 row-cols-md-5 g-4">

    {% for category in categories %}
    <div class="col">
        <div class="card h-10">
            <div class="card-body">
                <h4 class="card-title"> <a href="{% url 'ingredient_recipes' category.name %}">{{ category.name }}</a> </h4>
            </div>
        </div>

    </div>
    {% endfor %}
</div>


<div class="pagination">
    <span class="mt-xl-4 step-links">
        {% if page.has_previous %}
            <a href="?page={{ categories.previous_page_number }}" class="last py-2 px-3 bg-yellow-400 text-black hover:bg-yellow-300 text-sm hover:text-yellow-800 rounded transition duration-300">Назад</a>
        {% endif %}
        <span class="current">
            Страница {{ categories.number }} из {{ categories.paginator.num_pages }}
        </span>
        {% if page.has_next %}
            <a href="?page={{ categories.next_page_number }}" class="last py-2 px-3 bg-yellow-400 text-black hover:bg-yellow-300 text-sm hover:text-yellow-800 rounded transition duration-300">Вперед</a>
        {% endif %}
    </span>
</div>

{% endblock %}
