<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
{#    <link rel="stylesheet" href="{% static 'bootstrap/css/' %}">#}
    <script type="text/javascript" href="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <script type="text/javascript"
            href="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>
    <script type="text/javascript" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <title>{% block title %}  Sweet and salty {% endblock %}</title>
</head>
<body>
<!-- navbar goes here -->
<nav class="bg-gray-50 fixed inset-x-0">
    <div class="max-w-7xl mx-auto">
        <div class="flex space-between">
            <div class="flex space-x-5">
                <!-- logo -->
                <div>
                    <a href="{% url 'index' %}" class="flex items-center py-5 px-2 text-gray-700 hover:text-gray-900">
                    <i class='bx bxs-home mr-1 text-xl mb-1 text-green-700'></i>
                    <span class="font-bold">Sweet and salty</span>
                </a>
                </div>
                <!-- primary nav -->
                <div class="hidden md:flex items-center space-x-1">
                    <a href="{% url 'index' %}" class="py-5 px-3 text-gray-700 hover:text-gray-900">Главная</a>
                    <a href="{% url 'recipes' %}" class="py-5 px-3 text-gray-700 hover:text-gray-900">Рецепты</a>
                    <a href="{% url 'add_recipe' %}" class="py-5 px-3 text-gray-700 hover:text-gray-900">
                        Добавить рецепт
                    </a>
                    <a href="{% url 'categories' %}" class="py-5 px-3 text-gray-700 hover:text-gray-900">
                        Категории рецептов
                    </a>
                    <a href="{% url 'ingredients' %}"
                       class="py-5 px-3 text-gray-700 hover:text-gray-900">Ингредиенты</a>
                </div> <!-- secondary nav -->
                <div class="hidden md:flex items-center space-x-1">
                    {% if user.is_authenticated %}
                        <a href="{% url 'userapp:profile' %}" class="font-bold py-5 px-3">{{ user.username }}</a>
                        <a href="{% url 'userapp:logout' %}"
                           class="last py-2 px-3 bg-yellow-400 text-white hover:bg-yellow-300 text-sm hover:text-yellow-800 rounded transition duration-300">Выйти</a>
                        </div>
                    {% else %}
                        <a href="{% url 'userapp:login' %}" class="py-5 px-3">Войти</a>
                        <a href="{% url 'userapp:register' %}"
                           class="last py-2 px-3 bg-yellow-400 text-white hover:bg-yellow-300 text-sm hover:text-yellow-800 rounded transition duration-300">Зарегистироваться</a>
                    {% endif %}
            </div>
            <!-- mobile button goes here -->
            <div class="md:hidden flex items-center">
                <button class="mobile-menu-button focus:outline-none">
                    <i class='bx bx-menu text-3xl mt-1'></i></button>
            </div>
        </div>
    </div>
    <!-- mobile menu -->
    <div class="mobile-menu hidden md:hidden">
        <a href="{% url 'index' %}" class="block py-2 px-4 text-sm hover:bg-gray-200">Главная</a>
        <a href="{% url 'recipes' %}" class="block py-2 px-4 text-sm hover:bg-gray-200">Рецепты</a>
        <a href="{% url 'add_recipe' %}" class="block py-2 px-4 text-sm hover:bg-gray-200">Добавить рецепт</a>
        <a href="{% url 'categories' %}" class="block py-2 px-4 text-sm hover:bg-gray-200">Категории рецептов</a>
        <a href="{% url 'ingredients' %}" class="block py-2 px-4 text-sm hover:bg-gray-200">Ингредиенты</a>
    </div>
</nav>
<!-- content goes here -->

<div class="py-32 h-screen" style="background-image:linear-gradient(to right top,#c7b0d9,#b0bd80)">
    <div class="mx-auto p-2 text-center">
        <div class="container">
            {% block content %}
                <p>Скоро тут появится текст...</p>
            {% endblock %}
        </div>
    </div>
</div>
<footer class="mt-auto">
    <hr>
    <p class="text-center text-muted">© 2024 Sweet and salty | Денис Давыдов</p>
</footer>

</body>


</html>
